
#header, #footer{
    background: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body{
    padding: 0; /* Fill screen sides */
    margin: 0; /* Fill screen sides */
}

#side{
    gap: 20px;
    padding:20px;
    background: #1F2937;
}

#side-picture{
    margin-left: 420px;
    margin-top: -120px;
    float: left;
}

#side-picture-question{
    font: 900 30px "Roboto", sans-serif;
    color: #F9FAF8;
}

button{
    background: #3882F6;
    border-radius: 3px;
    color: #F9FAF8;
    float: left;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 25px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.sub-pic{
    border: 3px solid hotpink;
    height: 120px;
    width: 120px;
}

#quote-author{
    float: right;
    padding-right: 200px;
}

#quote{
    background: #E5E7EB;
    padding: 100px;
    color: #1F2937;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

#sign-up-button{
    float: right;
}

#cta{
    /*display: flex;*/
    justify-content: space-around;
    background-color: #3882F6;
    color: #F9FAF8;
    margin:100px;
    padding:10px;
    border-radius: 10px;
}

.cta-text{
    /*text-align: center;*/
}